.content {
  width: 100vw;
  height: 100vh;
  background: rgb(45, 45, 148);
  position: relative;
}

.error-list {
  margin-bottom: -20px;
  margin-top: 20px;
}

.list__wrapper {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
}

.list-ttl {
  font-size: 32px;
}

.create-content {
  width: 80%;
  display: inline-block;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(114, 109, 109);
  margin: 20px 0;
}

.create-btn {
  display: inline-block;
  text-align: right;
  width: 10%;
  text-align: center;
  height: 40px;
  font-weight: bolder;
  color: rgb(180, 6, 180);
  border: 2px solid rgb(180, 6, 180);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  /* margin-left: 50px; */
  transition: 0.6s;
}

.create-btn:hover {
  background: rgb(180, 6, 180);
  color: white;
}

.create-form {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ttl-list {
  padding-bottom: 40px;
  display: block;
}

.items-list {
  padding-bottom: 20px;
  display: block;
}

.ttl-list th:nth-of-type(1) {
  width: 250px;
}

.ttl-list th:nth-of-type(2) {
  width: 275px;
}

.ttl-list th:nth-of-type(3) {
  width: 75px;
}

.ttl-list th:nth-of-type(4) {
  width: 75px;
}

.items-list td:nth-of-type(1) {
  width: 250px;
  text-align: center;
}

.items-list td:nth-of-type(2) {
  width: 275px;
  text-align: center;
}

.update-content {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(114, 109, 109);
}

.items-list td:nth-of-type(3) {
  width: 75px;
  text-align: center;
}

.update-btn {
  width: 60px;
  height: 40px;
  font-weight: bolder;
  color: rgb(240, 178, 62);
  border: 2px solid rgb(240, 178, 62);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  /* margin-left: 50px; */
  transition: 0.6s;
}

.update-btn:hover {
  background: rgb(240, 178, 62);
  color: white;
}

.items-list td:nth-of-type(4) {
  width: 75px;
  text-align: center;
}

.delete-btn {
  width: 60px;
  height: 40px;
  font-weight: bolder;
  color: rgb(84, 202, 163);
  border: 2px solid rgb(84, 202, 163);
  border-radius: 5px;
  background: white;
  cursor: pointer;
  /* margin-left: 50px; */
  transition: 0.6s;
}

.delete-btn:hover {
  background: rgb(84, 202, 163);
  color: white;
}